.navbar{
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .2);
}
.navbar-brand{
    color: aqua;
}